   body {
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .header {
            background-color: #011e29;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        .latest-news-section {
            background-color: white;
            padding: 20px;
            width: 80%;
            margin: 20px auto;
            box-sizing: border-box;
        }
        .latest-news-section ul {
            list-style-type: none;
            padding: 0;
        }
        .latest-news-section li {
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
        .pictorial-news-section {
            background-color: white;
            padding: 20px;
            width: 80%;
            margin: 20px auto;
            text-align: center;
            border-radius: 8px;
            box-sizing: border-box;
        }
        .pictorial-news-section img {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }